<style>
    .headerIcon{
        transition:border-left 0.4s;
        border-left:solid 4px white;
        width:100%;
        min-height:3.2rem;
        margin-top:1.5rem;
        margin-bottom:1.5rem;
        display:flex;
        position:relative;
    }

    .headerIcon:hover{
        border-left:solid 4px rgba(240,153,51,1);
        cursor:pointer
    }

    .headerIcon >div{
        margin-right:0.9rem;
        margin-left:0.3rem;
        background:lightgray;
        border-radius:1.8rem;
        flex:1;
        transition:background 0.35s ease-in, border-radius 0.3s ;
        text-align:center;
        font-weight:bold;
        line-height:3rem;
        font-size:1.6rem;
    }

    .headerIcon >div:hover{
        background:lightblue;
        border-radius:0.8rem;
    }
</style>

<div class="headerIcon">
    <div></div>
</div>